<div class="jumbotron text-center">
    <h1>Lab 04 - Home Page</h1>

    <p>{{ tagline }}</p>
</div>

<div class="jumbotron text-left">

    <h2>Your Posts!</h2>
    <hr>
    <div ng-repeat="i in posts.data">
        <h3>{{i.text}}</h3><button onclick="myFacebookLogin(this)">Share on Facebook!</button>
        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{i.text}}"> Share on Twitter!</a>
        <button class="btn" ng-click="nDB.del(i._id)">Delete</button>
        <br>
        <textarea cols="100" type="text" ng-model="nDB.post" required></textarea>
        <button class="btn" ng-click="nDB.update(nDB.post, i._id)">Edit</button>
    </div>

</div>

<div class="jumbotron text-left">
    <h2>Create new Post!</h2>
    <hr>
    <textarea cols="150" type="text" ng-model="nDB.post2" required></textarea>
    <br>
    <button class="btn" ng-click="nDB.create(nDB.post2)">Create</button>
</div>



