<div class="jumbotron text-center">
    <h1>Users info</h1>
    <hr>
    <div ng-repeat="i in users.data">
        <h2>Google ID: <em>{{i.id}}</em></h2>
        <h2>Name: <em>{{i.name}}</em></h2>
        <h2>Email: <em>{{i.email}}</em></h2>
        <h2>Gender: <em>{{i.gender}}</em></h2>
        <hr>
    </div>
</div>